html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.entypo-phone:before {
  font-family: Entypo;
  content: "📞";
}
.entypo-mobile:before {
  font-family: Entypo;
  content: "📱";
}
.entypo-mouse:before {
  font-family: Entypo;
  content: "";
}
.entypo-address:before {
  font-family: Entypo;
  content: "";
}
.entypo-mail:before {
  font-family: Entypo;
  content: "✉";
}
.entypo-paper-plane:before {
  font-family: Entypo;
  content: "🔿";
}
.entypo-pencil:before {
  font-family: Entypo;
  content: "✎";
}
.entypo-feather:before {
  font-family: Entypo;
  content: "✒";
}
.entypo-attach:before {
  font-family: Entypo;
  content: "📎";
}
.entypo-inbox:before {
  font-family: Entypo;
  content: "";
}
.entypo-reply:before {
  font-family: Entypo;
  content: "";
}
.entypo-reply-all:before {
  font-family: Entypo;
  content: "";
}
.entypo-forward:before {
  font-family: Entypo;
  content: "➦";
}
.entypo-user:before {
  font-family: Entypo;
  content: "👤";
}
.entypo-users:before {
  font-family: Entypo;
  content: "👥";
}
.entypo-add-user:before {
  font-family: Entypo;
  content: "";
}
.entypo-vcard:before {
  font-family: Entypo;
  content: "";
}
.entypo-export:before {
  font-family: Entypo;
  content: "";
}
.entypo-location:before {
  font-family: Entypo;
  content: "";
}
.entypo-map:before {
  font-family: Entypo;
  content: "";
}
.entypo-compass:before {
  font-family: Entypo;
  content: "";
}
.entypo-direction:before {
  font-family: Entypo;
  content: "➢";
}
.entypo-hair-cross:before {
  font-family: Entypo;
  content: "🎯";
}
.entypo-share:before {
  font-family: Entypo;
  content: "";
}
.entypo-shareable:before {
  font-family: Entypo;
  content: "";
}
.entypo-heart:before {
  font-family: Entypo;
  content: "♥";
}
.entypo-heart-empty:before {
  font-family: Entypo;
  content: "♡";
}
.entypo-star:before {
  font-family: Entypo;
  content: "★";
}
.entypo-star-empty:before {
  font-family: Entypo;
  content: "☆";
}
.entypo-thumbs-up:before {
  font-family: Entypo;
  content: "👍";
}
.entypo-thumbs-down:before {
  font-family: Entypo;
  content: "👎";
}
.entypo-chat:before {
  font-family: Entypo;
  content: "";
}
.entypo-comment:before {
  font-family: Entypo;
  content: "";
}
.entypo-quote:before {
  font-family: Entypo;
  content: "❞";
}
.entypo-home:before {
  font-family: Entypo;
  content: "⌂";
}
.entypo-popup:before {
  font-family: Entypo;
  content: "";
}
.entypo-search:before {
  font-family: Entypo;
  content: "🔍";
}
.entypo-flashlight:before {
  font-family: Entypo;
  content: "🔦";
}
.entypo-print:before {
  font-family: Entypo;
  content: "";
}
.entypo-bell:before {
  font-family: Entypo;
  content: "🔔";
}
.entypo-link:before {
  font-family: Entypo;
  content: "🔗";
}
.entypo-flag:before {
  font-family: Entypo;
  content: "⚑";
}
.entypo-cog:before {
  font-family: Entypo;
  content: "⚙";
}
.entypo-tools:before {
  font-family: Entypo;
  content: "⚒";
}
.entypo-trophy:before {
  font-family: Entypo;
  content: "🏆";
}
.entypo-tag:before {
  font-family: Entypo;
  content: "";
}
.entypo-camera:before {
  font-family: Entypo;
  content: "📷";
}
.entypo-megaphone:before {
  font-family: Entypo;
  content: "📣";
}
.entypo-moon:before {
  font-family: Entypo;
  content: "☽";
}
.entypo-palette:before {
  font-family: Entypo;
  content: "🎨";
}
.entypo-leaf:before {
  font-family: Entypo;
  content: "🍂";
}
.entypo-note:before {
  font-family: Entypo;
  content: "♪";
}
.entypo-beamed-note:before {
  font-family: Entypo;
  content: "♫";
}
.entypo-new:before {
  font-family: Entypo;
  content: "💥";
}
.entypo-graduation-cap:before {
  font-family: Entypo;
  content: "🎓";
}
.entypo-book:before {
  font-family: Entypo;
  content: "📕";
}
.entypo-newspaper:before {
  font-family: Entypo;
  content: "📰";
}
.entypo-bag:before {
  font-family: Entypo;
  content: "👜";
}
.entypo-airplane:before {
  font-family: Entypo;
  content: "✈";
}
.entypo-lifebuoy:before {
  font-family: Entypo;
  content: "";
}
.entypo-eye:before {
  font-family: Entypo;
  content: "";
}
.entypo-clock:before {
  font-family: Entypo;
  content: "🕔";
}
.entypo-mic:before {
  font-family: Entypo;
  content: "🎤";
}
.entypo-calendar:before {
  font-family: Entypo;
  content: "📅";
}
.entypo-flash:before {
  font-family: Entypo;
  content: "⚡";
}
.entypo-thunder-cloud:before {
  font-family: Entypo;
  content: "⛈";
}
.entypo-droplet:before {
  font-family: Entypo;
  content: "💧";
}
.entypo-cd:before {
  font-family: Entypo;
  content: "💿";
}
.entypo-briefcase:before {
  font-family: Entypo;
  content: "💼";
}
.entypo-air:before {
  font-family: Entypo;
  content: "💨";
}
.entypo-hourglass:before {
  font-family: Entypo;
  content: "⏳";
}
.entypo-gauge:before {
  font-family: Entypo;
  content: "🛇";
}
.entypo-language:before {
  font-family: Entypo;
  content: "🎔";
}
.entypo-network:before {
  font-family: Entypo;
  content: "";
}
.entypo-key:before {
  font-family: Entypo;
  content: "🔑";
}
.entypo-battery:before {
  font-family: Entypo;
  content: "🔋";
}
.entypo-bucket:before {
  font-family: Entypo;
  content: "📾";
}
.entypo-magnet:before {
  font-family: Entypo;
  content: "";
}
.entypo-drive:before {
  font-family: Entypo;
  content: "📽";
}
.entypo-cup:before {
  font-family: Entypo;
  content: "☕";
}
.entypo-rocket:before {
  font-family: Entypo;
  content: "🚀";
}
.entypo-brush:before {
  font-family: Entypo;
  content: "";
}
.entypo-suitcase:before {
  font-family: Entypo;
  content: "🛆";
}
.entypo-traffic-cone:before {
  font-family: Entypo;
  content: "🛈";
}
.entypo-globe:before {
  font-family: Entypo;
  content: "🌎";
}
.entypo-keyboard:before {
  font-family: Entypo;
  content: "⌨";
}
.entypo-browser:before {
  font-family: Entypo;
  content: "";
}
.entypo-publish:before {
  font-family: Entypo;
  content: "";
}
.entypo-progress-3:before {
  font-family: Entypo;
  content: "";
}
.entypo-progress-2:before {
  font-family: Entypo;
  content: "";
}
.entypo-progress-1:before {
  font-family: Entypo;
  content: "";
}
.entypo-progress-0:before {
  font-family: Entypo;
  content: "";
}
.entypo-light-down:before {
  font-family: Entypo;
  content: "🔅";
}
.entypo-light-up:before {
  font-family: Entypo;
  content: "🔆";
}
.entypo-adjust:before {
  font-family: Entypo;
  content: "◑";
}
.entypo-code:before {
  font-family: Entypo;
  content: "";
}
.entypo-monitor:before {
  font-family: Entypo;
  content: "💻";
}
.entypo-infinity:before {
  font-family: Entypo;
  content: "∞";
}
.entypo-light-bulb:before {
  font-family: Entypo;
  content: "💡";
}
.entypo-credit-card:before {
  font-family: Entypo;
  content: "💳";
}
.entypo-database:before {
  font-family: Entypo;
  content: "📸";
}
.entypo-voicemail:before {
  font-family: Entypo;
  content: "✇";
}
.entypo-clipboard:before {
  font-family: Entypo;
  content: "📋";
}
.entypo-cart:before {
  font-family: Entypo;
  content: "";
}
.entypo-box:before {
  font-family: Entypo;
  content: "📦";
}
.entypo-ticket:before {
  font-family: Entypo;
  content: "🎫";
}
.entypo-rss:before {
  font-family: Entypo;
  content: "";
}
.entypo-signal:before {
  font-family: Entypo;
  content: "📶";
}
.entypo-thermometer:before {
  font-family: Entypo;
  content: "📿";
}
.entypo-water:before {
  font-family: Entypo;
  content: "💦";
}
.entypo-sweden:before {
  font-family: Entypo;
  content: "";
}
.entypo-line-graph:before {
  font-family: Entypo;
  content: "📈";
}
.entypo-pie-chart:before {
  font-family: Entypo;
  content: "◴";
}
.entypo-bar-graph:before {
  font-family: Entypo;
  content: "📊";
}
.entypo-area-graph:before {
  font-family: Entypo;
  content: "🔾";
}
.entypo-lock:before {
  font-family: Entypo;
  content: "🔒";
}
.entypo-lock-open:before {
  font-family: Entypo;
  content: "🔓";
}
.entypo-logout:before {
  font-family: Entypo;
  content: "";
}
.entypo-login:before {
  font-family: Entypo;
  content: "";
}
.entypo-check:before {
  font-family: Entypo;
  content: "✓";
}
.entypo-cross:before {
  font-family: Entypo;
  content: "❌";
}
.entypo-squared-minus:before {
  font-family: Entypo;
  content: "⊟";
}
.entypo-squared-plus:before {
  font-family: Entypo;
  content: "⊞";
}
.entypo-squared-cross:before {
  font-family: Entypo;
  content: "❎";
}
.entypo-circled-minus:before {
  font-family: Entypo;
  content: "⊖";
}
.entypo-circled-plus:before {
  font-family: Entypo;
  content: "⊕";
}
.entypo-circled-cross:before {
  font-family: Entypo;
  content: "✖";
}
.entypo-minus:before {
  font-family: Entypo;
  content: "➖";
}
.entypo-plus:before {
  font-family: Entypo;
  content: "➕";
}
.entypo-erase:before {
  font-family: Entypo;
  content: "⌫";
}
.entypo-block:before {
  font-family: Entypo;
  content: "🚫";
}
.entypo-info:before {
  font-family: Entypo;
  content: "ℹ";
}
.entypo-circled-info:before {
  font-family: Entypo;
  content: "";
}
.entypo-help:before {
  font-family: Entypo;
  content: "❓";
}
.entypo-circled-help:before {
  font-family: Entypo;
  content: "";
}
.entypo-warning:before {
  font-family: Entypo;
  content: "⚠";
}
.entypo-cycle:before {
  font-family: Entypo;
  content: "🔄";
}
.entypo-cw:before {
  font-family: Entypo;
  content: "⟳";
}
.entypo-ccw:before {
  font-family: Entypo;
  content: "⟲";
}
.entypo-shuffle:before {
  font-family: Entypo;
  content: "🔀";
}
.entypo-back:before {
  font-family: Entypo;
  content: "🔙";
}
.entypo-level-down:before {
  font-family: Entypo;
  content: "↳";
}
.entypo-retweet:before {
  font-family: Entypo;
  content: "";
}
.entypo-loop:before {
  font-family: Entypo;
  content: "🔁";
}
.entypo-back-in-time:before {
  font-family: Entypo;
  content: "";
}
.entypo-level-up:before {
  font-family: Entypo;
  content: "↰";
}
.entypo-switch:before {
  font-family: Entypo;
  content: "⇆";
}
.entypo-numbered-list:before {
  font-family: Entypo;
  content: "";
}
.entypo-add-to-list:before {
  font-family: Entypo;
  content: "";
}
.entypo-layout:before {
  font-family: Entypo;
  content: "⚏";
}
.entypo-list:before {
  font-family: Entypo;
  content: "☰";
}
.entypo-text-doc:before {
  font-family: Entypo;
  content: "📄";
}
.entypo-text-doc-inverted:before {
  font-family: Entypo;
  content: "";
}
.entypo-doc:before {
  font-family: Entypo;
  content: "";
}
.entypo-docs:before {
  font-family: Entypo;
  content: "";
}
.entypo-landscape-doc:before {
  font-family: Entypo;
  content: "";
}
.entypo-picture:before {
  font-family: Entypo;
  content: "🌄";
}
.entypo-video:before {
  font-family: Entypo;
  content: "🎬";
}
.entypo-music:before {
  font-family: Entypo;
  content: "🎵";
}
.entypo-folder:before {
  font-family: Entypo;
  content: "📁";
}
.entypo-archive:before {
  font-family: Entypo;
  content: "";
}
.entypo-trash:before {
  font-family: Entypo;
  content: "";
}
.entypo-upload:before {
  font-family: Entypo;
  content: "📤";
}
.entypo-download:before {
  font-family: Entypo;
  content: "📥";
}
.entypo-save:before {
  font-family: Entypo;
  content: "💾";
}
.entypo-install:before {
  font-family: Entypo;
  content: "";
}
.entypo-cloud:before {
  font-family: Entypo;
  content: "☁";
}
.entypo-upload-cloud:before {
  font-family: Entypo;
  content: "";
}
.entypo-bookmark:before {
  font-family: Entypo;
  content: "🔖";
}
.entypo-bookmarks:before {
  font-family: Entypo;
  content: "📑";
}
.entypo-open-book:before {
  font-family: Entypo;
  content: "📖";
}
.entypo-play:before {
  font-family: Entypo;
  content: "▶";
}
.entypo-paus:before {
  font-family: Entypo;
  content: "‖";
}
.entypo-record:before {
  font-family: Entypo;
  content: "●";
}
.entypo-stop:before {
  font-family: Entypo;
  content: "■";
}
.entypo-ff:before {
  font-family: Entypo;
  content: "⏩";
}
.entypo-fb:before {
  font-family: Entypo;
  content: "⏪";
}
.entypo-to-start:before {
  font-family: Entypo;
  content: "⏮";
}
.entypo-to-end:before {
  font-family: Entypo;
  content: "⏭";
}
.entypo-resize-full:before {
  font-family: Entypo;
  content: "";
}
.entypo-resize-small:before {
  font-family: Entypo;
  content: "";
}
.entypo-volume:before {
  font-family: Entypo;
  content: "⏷";
}
.entypo-sound:before {
  font-family: Entypo;
  content: "🔊";
}
.entypo-mute:before {
  font-family: Entypo;
  content: "🔇";
}
.entypo-flow-cascade:before {
  font-family: Entypo;
  content: "🕨";
}
.entypo-flow-branch:before {
  font-family: Entypo;
  content: "🕩";
}
.entypo-flow-tree:before {
  font-family: Entypo;
  content: "🕪";
}
.entypo-flow-line:before {
  font-family: Entypo;
  content: "🕫";
}
.entypo-flow-parallel:before {
  font-family: Entypo;
  content: "🕬";
}
.entypo-left-bold:before {
  font-family: Entypo;
  content: "";
}
.entypo-down-bold:before {
  font-family: Entypo;
  content: "";
}
.entypo-up-bold:before {
  font-family: Entypo;
  content: "";
}
.entypo-right-bold:before {
  font-family: Entypo;
  content: "";
}
.entypo-left:before {
  font-family: Entypo;
  content: "⬅";
}
.entypo-down:before {
  font-family: Entypo;
  content: "⬇";
}
.entypo-up:before {
  font-family: Entypo;
  content: "⬆";
}
.entypo-right:before {
  font-family: Entypo;
  content: "➡";
}
.entypo-circled-left:before {
  font-family: Entypo;
  content: "";
}
.entypo-circled-down:before {
  font-family: Entypo;
  content: "";
}
.entypo-circled-up:before {
  font-family: Entypo;
  content: "";
}
.entypo-circled-right:before {
  font-family: Entypo;
  content: "";
}
.entypo-triangle-left:before {
  font-family: Entypo;
  content: "◂";
}
.entypo-triangle-down:before {
  font-family: Entypo;
  content: "▾";
}
.entypo-triangle-up:before {
  font-family: Entypo;
  content: "▴";
}
.entypo-triangle-right:before {
  font-family: Entypo;
  content: "▸";
}
.entypo-chevron-left:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-down:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-up:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-right:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-small-left:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-small-down:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-small-up:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-small-right:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-thin-left:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-thin-down:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-thin-up:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-thin-right:before {
  font-family: Entypo;
  content: "";
}
.entypo-left-thin:before {
  font-family: Entypo;
  content: "←";
}
.entypo-down-thin:before {
  font-family: Entypo;
  content: "↓";
}
.entypo-up-thin:before {
  font-family: Entypo;
  content: "↑";
}
.entypo-right-thin:before {
  font-family: Entypo;
  content: "→";
}
.entypo-arrow-combo:before {
  font-family: Entypo;
  content: "";
}
.entypo-three-dots:before {
  font-family: Entypo;
  content: "⏶";
}
.entypo-two-dots:before {
  font-family: Entypo;
  content: "⏵";
}
.entypo-dot:before {
  font-family: Entypo;
  content: "⏴";
}
.entypo-cc:before {
  font-family: Entypo;
  content: "🕅";
}
.entypo-cc-by:before {
  font-family: Entypo;
  content: "🕆";
}
.entypo-cc-nc:before {
  font-family: Entypo;
  content: "🕇";
}
.entypo-cc-nc-eu:before {
  font-family: Entypo;
  content: "🕈";
}
.entypo-cc-nc-jp:before {
  font-family: Entypo;
  content: "🕉";
}
.entypo-cc-sa:before {
  font-family: Entypo;
  content: "🕊";
}
.entypo-cc-nd:before {
  font-family: Entypo;
  content: "🕋";
}
.entypo-cc-pd:before {
  font-family: Entypo;
  content: "🕌";
}
.entypo-cc-zero:before {
  font-family: Entypo;
  content: "🕍";
}
.entypo-cc-share:before {
  font-family: Entypo;
  content: "🕎";
}
.entypo-cc-remix:before {
  font-family: Entypo;
  content: "🕏";
}
.entypo-db-logo:before {
  font-family: Entypo;
  content: "🗹";
}
.entypo-db-shape:before {
  font-family: Entypo;
  content: "🗺";
}
.entypo-social-github:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-github:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-flickr:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-flickr:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-vimeo:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-vimeo:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-twitter:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-twitter:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-facebook:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-facebook:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-s-facebook:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-google:before {
  font-family: Entypo Social;
  content: ;
}
.entypo-social-c-google:before {
  font-family: Entypo Social;
  content: ;
}
.entypo-social-pinterest:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-pinterest:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-tumblr:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-tumblr:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-linkedin:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-linkedin:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-dribbble:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-dribbble:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-stumbleupon:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-stumbleupon:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-lastfm:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-lastfm:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-rdio:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-rdio:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-spotify:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-spotify:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-qq:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-instagram:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-dropbox:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-evernote:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-flattr:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-skype:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-skype:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-renren:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-sina-weibo:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-paypal:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-picasa:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-soundcloud:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-mixi:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-behance:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-google-circles:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-vk:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-smashing:before {
  font-family: Entypo Social;
  content: "";
}
body {
  font-family: 'Lora', serif;
  line-height: 1.2em;
  font-size: 16px;
}
p {
  margin: 0 0 1.2em 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.small,
small {
  font-size: 85%;
}
.lead {
  font-size: 120%;
  color: #525252;
}
cite {
  font-style: normal;
}
blockquote {
  margin: 0 0 1.2em 2.4em;
  border-left: 8px solid #d9d9d9;
  padding: 0.3em 1em;
  color: #929292;
}
blockquote .source {
  color: #d2d2d2;
}
blockquote .source:before {
  content: "— ";
}
blockquote .source cite {
  color: #9f9f9f;
}
ul,
ol {
  margin: 0 0 1.2em 2.4em;
  padding: 0;
}
ul li,
ol li {
  margin-bottom: 0.6em;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ul ul,
ol ul {
  list-style: circle;
}
ul ul ul,
ol ul ul,
ol ol ul,
ul ol ul {
  list-style: square;
}
ol {
  list-style: decimal;
}
ul.unstyled,
ol.unstyled {
  padding: 0;
  list-style: none;
}
ul.unstyled > li,
ol.unstyled > li {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans Caption', sans;
  line-height: 100%;
  margin: 1.2em 0 0.6em 0;
  font-weight: 300 !important;
}
.title {
  font-size: 3em;
}
.section-title {
  font-size: 2.3em;
}
.subtitle {
  font-size: 1.5em;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.4em;
}
h6 {
  font-size: 1.3em;
}
@font-face {
  font-family: 'Entypo Social';
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/entypo-social/entypo-social.eot");
  src: url("/fonts/entypo-social/entypo-social.eot?#iefix") format('embedded-opentype'), url("/fonts/entypo-social/entypo-social.woff") format('woff'), url("/fonts/entypo-social/entypo-social.ttf") format('truetype'), url("/fonts/entypo-social/entypo-social.svg#'entypo-social'") format('svg');
}
body {
  background: #f3f3f3;
}
a {
  color: #318fe8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#header {
  text-align: right;
  background: #fff;
}
#top-navigation ul {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0 50px;
  border-bottom: 1px solid #f3f3f3;
}
#top-navigation li {
  display: inline-block;
  margin: 0;
}
#top-navigation a {
  text-decoration: none;
  color: #888;
  padding: 0.8em 0.5em;
  font-size: 22px;
  font-family: 'PT Sans Caption', sans;
  font-weight: lighter;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: block;
  border-bottom: 4px solid transparent;
  text-transform: lowercase;
}
#top-navigation a:hover {
  color: #70b1ef;
}
#top-navigation a.active {
  border-bottom-color: #70b1ef;
  color: #70b1ef;
  font-weight: bold;
}
#content {
  background: #fff;
  padding: 2em 0;
}
#footer {
  padding: 3em 0 2em 0;
  border-top: 1px solid #ddd;
  -webkit-box-shadow: inset 1px 0px 0px rgba(255,255,255,0.8);
  box-shadow: inset 1px 0px 0px rgba(255,255,255,0.8);
  background: #f3f3f3;
  text-align: center;
  font-family: "Source Sans Pro", sans;
  letter-spacing: 0.1em;
}
#footer #social {
  list-style: none;
}
#footer #social li,
#footer #social a {
  width: 64px;
  height: 64px;
  display: inline-block;
}
#footer #social a {
  text-decoration: none;
  color: #999;
}
#footer #social a:hover {
  color: #5f5f5f;
}
#footer #social i {
  font-size: 96px;
  font-style: normal;
}
#footer #meta-info {
  color: #999;
}
#footer #meta-info .heart {
  color: #e74c3c;
  font-size: 1.3em;
  padding: 0 0.02em;
  position: relative;
  top: 0.1em;
}
#content-wrapper {
  max-width: 750px;
  margin: 0 auto;
  font-size: 20px;
  color: #5f5f5f;
  line-height: 1.5em;
  padding: 20px;
}
#content-wrapper h2 {
  letter-spacing: -0.02em;
  color: #2f2f2f;
  font-size: 36px;
  font-weight: bold !important;
}
#post-listing {
  list-style: none;
  margin: 0;
}
#post-listing li {
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
#post-listing li:last-child {
  border: none;
}
#post-listing .post-title {
  margin: 0 0 0.2em 0;
}
#post-listing .post-title a {
  margin-bottom: 0;
  line-height: 1.2em;
  color: #34495e;
}
#post-listing .post-subtitle {
  font-family: 'Lora', serif;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: #95a5a6;
}
#post-listing .date {
  color: #bbb;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0.5em 0 -0.5em 0;
  font-family: "Source Sans Pro", sans;
}
.page-heading {
  margin-bottom: 2em;
}
.page-heading .meta {
  font-size: 0.9em;
  color: #bbb;
  font-family: 'PT Sans Caption', sans;
}
.page-heading .published-date {
  margin-top: -0.5em;
}
.textual-content h3 {
  font-size: 28px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 0.3em;
  margin-bottom: 0.3em;
}
.textual-content h4 {
  font-size: 28px;
  font-weight: 300 !important;
  font-family: 'Raleway', sans;
  color: #95a5a6;
  margin-bottom: 0.3em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  border-bottom: 1px solid #f3f3f3;
}
.textual-content .normalcase {
  text-transform: none;
}
.textual-content .borderless {
  border: none;
}
.textual-content blockquote {
  border-left: 3px solid #ecf0f1;
}
.textual-content blockquote.note {
  color: #acb2b6;
}
.textual-content blockquote .heading {
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 0.5em;
  font-family: 'PT Sans Caption', sans;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}
.textual-content blockquote.warning {
  border-color: #e74c3c;
}
.textual-content blockquote.warning .heading {
  color: #e74c3c;
}
.textual-content blockquote.info {
  border-color: #2980b9;
}
.textual-content blockquote.info .heading {
  color: #2980b9;
}
.textual-content blockquote.trivia {
  border-color: #1abc9c;
}
.textual-content blockquote.trivia .heading {
  color: #16a085;
}
.textual-content blockquote p:last-child {
  margin-bottom: 0;
}
.textual-content #table-of-contents {
  font-size: 28px;
  color: #7f8c8d;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 0.3em;
}
.textual-content #markdown-toc ul {
  margin: 0 0 0 2em;
}
.textual-content #markdown-toc li {
  margin: 0;
  line-height: 1.6em;
}
.textual-content .highlight,
.textual-content pre.src,
.textual-content .simple-code {
  margin: 2em 0;
  border: 1px solid #ecf0f1;
  border-left-width: 2px;
  padding: 0.5em;
  font-family: monospace;
  font-size: 16px;
  line-height: 22px;
  display: block;
}
.textual-content .highlight,
.textual-content .highlight pre,
.textual-content .highlight code,
.textual-content .simple-code,
.textual-content .simple-code code {
  background: #fcfcfc;
  color: #7f8c8d;
}
.textual-content .highlight pre,
.textual-content .simple-code {
  overflow: auto;
}
.textual-content .highlight code,
.textual-content .highlighttable code,
.textual-content .simple-code code {
  padding: 0;
}
.textual-content .highlight {
  border-collapse: collapse;
  border: 1px solid #ecf0f1;
  border-left-width: 2px;
  font-size: 16px;
  width: auto;
  line-height: 22px;
  font-family: monospace;
  margin: 2em 0;
}
.textual-content .highlight td {
  vertical-align: top;
  padding: 0.5em;
}
.textual-content .highlight td.gutter {
  background: #fff;
  width: 20px;
  text-align: right;
  border-right: 1px solid #ecf0f1;
}
.textual-content .highlight td.gutter code,
.textual-content .highlight td.gutter pre {
  background-color: #fff;
  color: #bdc3c7;
}
.textual-content .highlight td.code {
  border-left: 1px solid #ecf0f1;
  background: #fcfcfc;
}
.textual-content .highlight td.code .highlight {
  padding: 0 0 0 0.5em;
  margin: 0;
  border: none;
}
.textual-content table.common-table {
  border-collapse: collapse;
  border: 1px solid #ecf0f1;
  border-left-width: 2px;
}
.textual-content table.common-table td,
.textual-content table.common-table th {
  border: 1px solid #ecf0f1;
  padding: 0.25em;
  position: relative;
}
.textual-content table.common-table th {
  background: #ecf0f1;
  font-family: 'PT Sans Caption', sans, sans;
  text-align: center;
}
.textual-content table.common-table .up {
  position: absolute;
  top: -1px;
  right: 0px;
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
}
.textual-content img {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ecf0f1;
  display: block;
}
.textual-content .clear::after {
  content: "";
  display: block;
  clear: both;
}
.textual-content .side-description {
  color: #777;
  padding: 20px 0;
}
.textual-content .pull-left {
  margin: 0.5em 1em 1em -100px;
  float: left;
}
.textual-content .pull-right {
  margin: 0.5em -100px 1em 1em;
  float: right;
}
.textual-content .pull-left,
.textual-content .pull-right,
.textual-content .centred-image {
  text-align: center;
  padding: 20px;
  border: 1px solid #ecf0f1;
  display: block;
}
.textual-content .pull-left img,
.textual-content .pull-right img,
.textual-content .centred-image img {
  padding: 0;
  border: 0;
}
.textual-content .pull-left em,
.textual-content .pull-right em,
.textual-content .centred-image em {
  font-style: italic;
  font-size: 16px;
  color: #95a5a6;
}
.textual-content .full-image img {
  width: 100%;
  height: auto;
}
.textual-content .bring-to-top {
  position: relative;
  z-index: 3;
}
.textual-content .width-350 {
  width: 350px;
}
.textual-content code {
  font-family: monospace;
  color: #95a5a6;
  background: #f3f3f3;
  padding: 0 0.2em;
}
.textual-content .simple-inline-code code {
  background: none;
}
.textual-content .highlight-paragraph {
  font-style: italic;
  font-size: 32px;
  line-height: 38px;
  border: none;
  margin: 1.5em -1em;
  padding: 0;
  text-align: center;
  color: #95a5a6;
}
.textual-content .highlight-paragraph cite {
  font-size: 16px;
  line-height: 100%;
  text-align: right;
  display: block;
}
.textual-content .pull-in {
  margin-left: 1em;
  margin-right: 1em;
}
.textual-content sup,
.textual-content sub {
  font-size: 80%;
}
.textual-content sup {
  vertical-align: super;
}
.textual-content sub {
  vertical-align: bottom;
}
.textual-content hr {
  display: block;
  height: 1px;
  border: none;
  border-bottom: 1px solid #ecf0f1;
  margin: 0px auto;
  width: 100px;
  padding: 1em 0 0 0;
}
.textual-content dt {
  font-family: 'PT Sans Caption', sans;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 100%;
  color: #7f8c8d;
  letter-spacing: 0.02em;
}
.textual-content dd {
  border-left: 2px solid #ecf0f1;
  padding-left: 20px;
  color: #95a5a6;
  margin-top: 10px;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
.textual-content .CodeRay .code .line-numbers {
  display: none;
}
.textual-content .contact-footer {
  border-top: 1px solid #ecf0f1;
  margin: 3em 0;
  font-size: 16px;
  line-height: 20px;
  color: #95a5a6;
  padding: 1em;
}
.textual-content .twitter-tweet {
  margin: 10px auto !important;
}
.textual-content .tabs {
  padding: 0;
  margin: 1em 0 0 0;
  list-style: none;
  zoom: 1;
}
.textual-content .tabs:before,
.textual-content .tabs:after {
  content: "";
  display: table;
}
.textual-content .tabs:after {
  clear: both;
}
.textual-content .tabs li {
  float: left;
  margin: 0;
}
.textual-content .tabs a {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 1px solid #ddd;
  color: #999;
  border-left-width: 0;
  border-bottom: 0;
  text-decoration: none;
  background: #fafafa;
}
.textual-content .tabs a:first-child {
  border-left-width: 1px;
}
.textual-content .tabs a:hover {
  border-top-color: #70b1ef;
  color: #555;
  background: #fff;
}
.textual-content .tabs a.active {
  border-top: 5px solid #70b1ef;
  margin-top: -5px;
  color: #5f5f5f;
  background: #fff;
}
.textual-content .tab-contents {
  padding: 10px 20px 0px 20px;
  font-size: 90%;
  border: 1px solid #ddd;
  margin-bottom: 1.5em;
}
.textual-content .tab-contents > div {
  display: none;
}
.textual-content .tab-contents > div.active {
  display: block;
}
.special-image-1 {
  height: 520px;
}
.special-image-1 img {
  position: relative;
  top: -206px;
  z-index: 0;
}
.special-image-2 {
  height: 490px;
}
.special-image-2 img {
  position: relative;
  top: -150px;
}
@media (max-width: 970px) {
  #wrapper #content .pull-left {
    margin-left: 0;
  }
  #wrapper #content .pull-right {
    margin-right: 0;
  }
  #wrapper #content .highlighttable {
    border-width: 1px 0;
  }
  #wrapper #content .highlighttable td {
    padding: 2px 0;
  }
  #wrapper #content .highlighttable .linenos {
    display: none;
  }
  #wrapper #content .highlighttable .code {
    border: 0;
  }
  #wrapper #content .highlighttable .highlight {
    font-size: 13px;
    line-height: 16px;
  }
  #wrapper #content pre,
  #wrapper #content pre span {
    white-space: pre-wrap;
  }
}
@media (max-width: 750px) {
  #wrapper #content blockquote {
    margin-left: 0;
    margin-right: 0;
  }
  #wrapper #content img {
    padding: 0;
    position: static;
    width: 100%;
    height: auto;
  }
  #wrapper #content iframe {
    border-width: 1px 0px;
    padding: 2px 0px;
    width: 100%;
    height: auto;
  }
  #wrapper #content .pull-left,
  #wrapper #content .pull-right,
  #wrapper #content .centred-image {
    border-width: 1px 0;
    padding: 2px 0;
  }
  #wrapper #content .pull-left,
  #wrapper #content .pull-right {
    margin: 0.5em 0 1em 0;
    float: none;
  }
  #wrapper #content .special-image-1,
  #wrapper #content .special-image-2 {
    height: auto;
  }
  #wrapper #content ul,
  #wrapper #content ol {
    margin-left: 1.2em;
  }
}
