@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat|Lora:400italic");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.entypo-phone:before {
  font-family: Entypo;
  content: "📞";
}
.entypo-mobile:before {
  font-family: Entypo;
  content: "📱";
}
.entypo-mouse:before {
  font-family: Entypo;
  content: "";
}
.entypo-address:before {
  font-family: Entypo;
  content: "";
}
.entypo-mail:before {
  font-family: Entypo;
  content: "✉";
}
.entypo-paper-plane:before {
  font-family: Entypo;
  content: "🔿";
}
.entypo-pencil:before {
  font-family: Entypo;
  content: "✎";
}
.entypo-feather:before {
  font-family: Entypo;
  content: "✒";
}
.entypo-attach:before {
  font-family: Entypo;
  content: "📎";
}
.entypo-inbox:before {
  font-family: Entypo;
  content: "";
}
.entypo-reply:before {
  font-family: Entypo;
  content: "";
}
.entypo-reply-all:before {
  font-family: Entypo;
  content: "";
}
.entypo-forward:before {
  font-family: Entypo;
  content: "➦";
}
.entypo-user:before {
  font-family: Entypo;
  content: "👤";
}
.entypo-users:before {
  font-family: Entypo;
  content: "👥";
}
.entypo-add-user:before {
  font-family: Entypo;
  content: "";
}
.entypo-vcard:before {
  font-family: Entypo;
  content: "";
}
.entypo-export:before {
  font-family: Entypo;
  content: "";
}
.entypo-location:before {
  font-family: Entypo;
  content: "";
}
.entypo-map:before {
  font-family: Entypo;
  content: "";
}
.entypo-compass:before {
  font-family: Entypo;
  content: "";
}
.entypo-direction:before {
  font-family: Entypo;
  content: "➢";
}
.entypo-hair-cross:before {
  font-family: Entypo;
  content: "🎯";
}
.entypo-share:before {
  font-family: Entypo;
  content: "";
}
.entypo-shareable:before {
  font-family: Entypo;
  content: "";
}
.entypo-heart:before {
  font-family: Entypo;
  content: "♥";
}
.entypo-heart-empty:before {
  font-family: Entypo;
  content: "♡";
}
.entypo-star:before {
  font-family: Entypo;
  content: "★";
}
.entypo-star-empty:before {
  font-family: Entypo;
  content: "☆";
}
.entypo-thumbs-up:before {
  font-family: Entypo;
  content: "👍";
}
.entypo-thumbs-down:before {
  font-family: Entypo;
  content: "👎";
}
.entypo-chat:before {
  font-family: Entypo;
  content: "";
}
.entypo-comment:before {
  font-family: Entypo;
  content: "";
}
.entypo-quote:before {
  font-family: Entypo;
  content: "❞";
}
.entypo-home:before {
  font-family: Entypo;
  content: "⌂";
}
.entypo-popup:before {
  font-family: Entypo;
  content: "";
}
.entypo-search:before {
  font-family: Entypo;
  content: "🔍";
}
.entypo-flashlight:before {
  font-family: Entypo;
  content: "🔦";
}
.entypo-print:before {
  font-family: Entypo;
  content: "";
}
.entypo-bell:before {
  font-family: Entypo;
  content: "🔔";
}
.entypo-link:before {
  font-family: Entypo;
  content: "🔗";
}
.entypo-flag:before {
  font-family: Entypo;
  content: "⚑";
}
.entypo-cog:before {
  font-family: Entypo;
  content: "⚙";
}
.entypo-tools:before {
  font-family: Entypo;
  content: "⚒";
}
.entypo-trophy:before {
  font-family: Entypo;
  content: "🏆";
}
.entypo-tag:before {
  font-family: Entypo;
  content: "";
}
.entypo-camera:before {
  font-family: Entypo;
  content: "📷";
}
.entypo-megaphone:before {
  font-family: Entypo;
  content: "📣";
}
.entypo-moon:before {
  font-family: Entypo;
  content: "☽";
}
.entypo-palette:before {
  font-family: Entypo;
  content: "🎨";
}
.entypo-leaf:before {
  font-family: Entypo;
  content: "🍂";
}
.entypo-note:before {
  font-family: Entypo;
  content: "♪";
}
.entypo-beamed-note:before {
  font-family: Entypo;
  content: "♫";
}
.entypo-new:before {
  font-family: Entypo;
  content: "💥";
}
.entypo-graduation-cap:before {
  font-family: Entypo;
  content: "🎓";
}
.entypo-book:before {
  font-family: Entypo;
  content: "📕";
}
.entypo-newspaper:before {
  font-family: Entypo;
  content: "📰";
}
.entypo-bag:before {
  font-family: Entypo;
  content: "👜";
}
.entypo-airplane:before {
  font-family: Entypo;
  content: "✈";
}
.entypo-lifebuoy:before {
  font-family: Entypo;
  content: "";
}
.entypo-eye:before {
  font-family: Entypo;
  content: "";
}
.entypo-clock:before {
  font-family: Entypo;
  content: "🕔";
}
.entypo-mic:before {
  font-family: Entypo;
  content: "🎤";
}
.entypo-calendar:before {
  font-family: Entypo;
  content: "📅";
}
.entypo-flash:before {
  font-family: Entypo;
  content: "⚡";
}
.entypo-thunder-cloud:before {
  font-family: Entypo;
  content: "⛈";
}
.entypo-droplet:before {
  font-family: Entypo;
  content: "💧";
}
.entypo-cd:before {
  font-family: Entypo;
  content: "💿";
}
.entypo-briefcase:before {
  font-family: Entypo;
  content: "💼";
}
.entypo-air:before {
  font-family: Entypo;
  content: "💨";
}
.entypo-hourglass:before {
  font-family: Entypo;
  content: "⏳";
}
.entypo-gauge:before {
  font-family: Entypo;
  content: "🛇";
}
.entypo-language:before {
  font-family: Entypo;
  content: "🎔";
}
.entypo-network:before {
  font-family: Entypo;
  content: "";
}
.entypo-key:before {
  font-family: Entypo;
  content: "🔑";
}
.entypo-battery:before {
  font-family: Entypo;
  content: "🔋";
}
.entypo-bucket:before {
  font-family: Entypo;
  content: "📾";
}
.entypo-magnet:before {
  font-family: Entypo;
  content: "";
}
.entypo-drive:before {
  font-family: Entypo;
  content: "📽";
}
.entypo-cup:before {
  font-family: Entypo;
  content: "☕";
}
.entypo-rocket:before {
  font-family: Entypo;
  content: "🚀";
}
.entypo-brush:before {
  font-family: Entypo;
  content: "";
}
.entypo-suitcase:before {
  font-family: Entypo;
  content: "🛆";
}
.entypo-traffic-cone:before {
  font-family: Entypo;
  content: "🛈";
}
.entypo-globe:before {
  font-family: Entypo;
  content: "🌎";
}
.entypo-keyboard:before {
  font-family: Entypo;
  content: "⌨";
}
.entypo-browser:before {
  font-family: Entypo;
  content: "";
}
.entypo-publish:before {
  font-family: Entypo;
  content: "";
}
.entypo-progress-3:before {
  font-family: Entypo;
  content: "";
}
.entypo-progress-2:before {
  font-family: Entypo;
  content: "";
}
.entypo-progress-1:before {
  font-family: Entypo;
  content: "";
}
.entypo-progress-0:before {
  font-family: Entypo;
  content: "";
}
.entypo-light-down:before {
  font-family: Entypo;
  content: "🔅";
}
.entypo-light-up:before {
  font-family: Entypo;
  content: "🔆";
}
.entypo-adjust:before {
  font-family: Entypo;
  content: "◑";
}
.entypo-code:before {
  font-family: Entypo;
  content: "";
}
.entypo-monitor:before {
  font-family: Entypo;
  content: "💻";
}
.entypo-infinity:before {
  font-family: Entypo;
  content: "∞";
}
.entypo-light-bulb:before {
  font-family: Entypo;
  content: "💡";
}
.entypo-credit-card:before {
  font-family: Entypo;
  content: "💳";
}
.entypo-database:before {
  font-family: Entypo;
  content: "📸";
}
.entypo-voicemail:before {
  font-family: Entypo;
  content: "✇";
}
.entypo-clipboard:before {
  font-family: Entypo;
  content: "📋";
}
.entypo-cart:before {
  font-family: Entypo;
  content: "";
}
.entypo-box:before {
  font-family: Entypo;
  content: "📦";
}
.entypo-ticket:before {
  font-family: Entypo;
  content: "🎫";
}
.entypo-rss:before {
  font-family: Entypo;
  content: "";
}
.entypo-signal:before {
  font-family: Entypo;
  content: "📶";
}
.entypo-thermometer:before {
  font-family: Entypo;
  content: "📿";
}
.entypo-water:before {
  font-family: Entypo;
  content: "💦";
}
.entypo-sweden:before {
  font-family: Entypo;
  content: "";
}
.entypo-line-graph:before {
  font-family: Entypo;
  content: "📈";
}
.entypo-pie-chart:before {
  font-family: Entypo;
  content: "◴";
}
.entypo-bar-graph:before {
  font-family: Entypo;
  content: "📊";
}
.entypo-area-graph:before {
  font-family: Entypo;
  content: "🔾";
}
.entypo-lock:before {
  font-family: Entypo;
  content: "🔒";
}
.entypo-lock-open:before {
  font-family: Entypo;
  content: "🔓";
}
.entypo-logout:before {
  font-family: Entypo;
  content: "";
}
.entypo-login:before {
  font-family: Entypo;
  content: "";
}
.entypo-check:before {
  font-family: Entypo;
  content: "✓";
}
.entypo-cross:before {
  font-family: Entypo;
  content: "❌";
}
.entypo-squared-minus:before {
  font-family: Entypo;
  content: "⊟";
}
.entypo-squared-plus:before {
  font-family: Entypo;
  content: "⊞";
}
.entypo-squared-cross:before {
  font-family: Entypo;
  content: "❎";
}
.entypo-circled-minus:before {
  font-family: Entypo;
  content: "⊖";
}
.entypo-circled-plus:before {
  font-family: Entypo;
  content: "⊕";
}
.entypo-circled-cross:before {
  font-family: Entypo;
  content: "✖";
}
.entypo-minus:before {
  font-family: Entypo;
  content: "➖";
}
.entypo-plus:before {
  font-family: Entypo;
  content: "➕";
}
.entypo-erase:before {
  font-family: Entypo;
  content: "⌫";
}
.entypo-block:before {
  font-family: Entypo;
  content: "🚫";
}
.entypo-info:before {
  font-family: Entypo;
  content: "ℹ";
}
.entypo-circled-info:before {
  font-family: Entypo;
  content: "";
}
.entypo-help:before {
  font-family: Entypo;
  content: "❓";
}
.entypo-circled-help:before {
  font-family: Entypo;
  content: "";
}
.entypo-warning:before {
  font-family: Entypo;
  content: "⚠";
}
.entypo-cycle:before {
  font-family: Entypo;
  content: "🔄";
}
.entypo-cw:before {
  font-family: Entypo;
  content: "⟳";
}
.entypo-ccw:before {
  font-family: Entypo;
  content: "⟲";
}
.entypo-shuffle:before {
  font-family: Entypo;
  content: "🔀";
}
.entypo-back:before {
  font-family: Entypo;
  content: "🔙";
}
.entypo-level-down:before {
  font-family: Entypo;
  content: "↳";
}
.entypo-retweet:before {
  font-family: Entypo;
  content: "";
}
.entypo-loop:before {
  font-family: Entypo;
  content: "🔁";
}
.entypo-back-in-time:before {
  font-family: Entypo;
  content: "";
}
.entypo-level-up:before {
  font-family: Entypo;
  content: "↰";
}
.entypo-switch:before {
  font-family: Entypo;
  content: "⇆";
}
.entypo-numbered-list:before {
  font-family: Entypo;
  content: "";
}
.entypo-add-to-list:before {
  font-family: Entypo;
  content: "";
}
.entypo-layout:before {
  font-family: Entypo;
  content: "⚏";
}
.entypo-list:before {
  font-family: Entypo;
  content: "☰";
}
.entypo-text-doc:before {
  font-family: Entypo;
  content: "📄";
}
.entypo-text-doc-inverted:before {
  font-family: Entypo;
  content: "";
}
.entypo-doc:before {
  font-family: Entypo;
  content: "";
}
.entypo-docs:before {
  font-family: Entypo;
  content: "";
}
.entypo-landscape-doc:before {
  font-family: Entypo;
  content: "";
}
.entypo-picture:before {
  font-family: Entypo;
  content: "🌄";
}
.entypo-video:before {
  font-family: Entypo;
  content: "🎬";
}
.entypo-music:before {
  font-family: Entypo;
  content: "🎵";
}
.entypo-folder:before {
  font-family: Entypo;
  content: "📁";
}
.entypo-archive:before {
  font-family: Entypo;
  content: "";
}
.entypo-trash:before {
  font-family: Entypo;
  content: "";
}
.entypo-upload:before {
  font-family: Entypo;
  content: "📤";
}
.entypo-download:before {
  font-family: Entypo;
  content: "📥";
}
.entypo-save:before {
  font-family: Entypo;
  content: "💾";
}
.entypo-install:before {
  font-family: Entypo;
  content: "";
}
.entypo-cloud:before {
  font-family: Entypo;
  content: "☁";
}
.entypo-upload-cloud:before {
  font-family: Entypo;
  content: "";
}
.entypo-bookmark:before {
  font-family: Entypo;
  content: "🔖";
}
.entypo-bookmarks:before {
  font-family: Entypo;
  content: "📑";
}
.entypo-open-book:before {
  font-family: Entypo;
  content: "📖";
}
.entypo-play:before {
  font-family: Entypo;
  content: "▶";
}
.entypo-paus:before {
  font-family: Entypo;
  content: "‖";
}
.entypo-record:before {
  font-family: Entypo;
  content: "●";
}
.entypo-stop:before {
  font-family: Entypo;
  content: "■";
}
.entypo-ff:before {
  font-family: Entypo;
  content: "⏩";
}
.entypo-fb:before {
  font-family: Entypo;
  content: "⏪";
}
.entypo-to-start:before {
  font-family: Entypo;
  content: "⏮";
}
.entypo-to-end:before {
  font-family: Entypo;
  content: "⏭";
}
.entypo-resize-full:before {
  font-family: Entypo;
  content: "";
}
.entypo-resize-small:before {
  font-family: Entypo;
  content: "";
}
.entypo-volume:before {
  font-family: Entypo;
  content: "⏷";
}
.entypo-sound:before {
  font-family: Entypo;
  content: "🔊";
}
.entypo-mute:before {
  font-family: Entypo;
  content: "🔇";
}
.entypo-flow-cascade:before {
  font-family: Entypo;
  content: "🕨";
}
.entypo-flow-branch:before {
  font-family: Entypo;
  content: "🕩";
}
.entypo-flow-tree:before {
  font-family: Entypo;
  content: "🕪";
}
.entypo-flow-line:before {
  font-family: Entypo;
  content: "🕫";
}
.entypo-flow-parallel:before {
  font-family: Entypo;
  content: "🕬";
}
.entypo-left-bold:before {
  font-family: Entypo;
  content: "";
}
.entypo-down-bold:before {
  font-family: Entypo;
  content: "";
}
.entypo-up-bold:before {
  font-family: Entypo;
  content: "";
}
.entypo-right-bold:before {
  font-family: Entypo;
  content: "";
}
.entypo-left:before {
  font-family: Entypo;
  content: "⬅";
}
.entypo-down:before {
  font-family: Entypo;
  content: "⬇";
}
.entypo-up:before {
  font-family: Entypo;
  content: "⬆";
}
.entypo-right:before {
  font-family: Entypo;
  content: "➡";
}
.entypo-circled-left:before {
  font-family: Entypo;
  content: "";
}
.entypo-circled-down:before {
  font-family: Entypo;
  content: "";
}
.entypo-circled-up:before {
  font-family: Entypo;
  content: "";
}
.entypo-circled-right:before {
  font-family: Entypo;
  content: "";
}
.entypo-triangle-left:before {
  font-family: Entypo;
  content: "◂";
}
.entypo-triangle-down:before {
  font-family: Entypo;
  content: "▾";
}
.entypo-triangle-up:before {
  font-family: Entypo;
  content: "▴";
}
.entypo-triangle-right:before {
  font-family: Entypo;
  content: "▸";
}
.entypo-chevron-left:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-down:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-up:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-right:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-small-left:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-small-down:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-small-up:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-small-right:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-thin-left:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-thin-down:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-thin-up:before {
  font-family: Entypo;
  content: "";
}
.entypo-chevron-thin-right:before {
  font-family: Entypo;
  content: "";
}
.entypo-left-thin:before {
  font-family: Entypo;
  content: "←";
}
.entypo-down-thin:before {
  font-family: Entypo;
  content: "↓";
}
.entypo-up-thin:before {
  font-family: Entypo;
  content: "↑";
}
.entypo-right-thin:before {
  font-family: Entypo;
  content: "→";
}
.entypo-arrow-combo:before {
  font-family: Entypo;
  content: "";
}
.entypo-three-dots:before {
  font-family: Entypo;
  content: "⏶";
}
.entypo-two-dots:before {
  font-family: Entypo;
  content: "⏵";
}
.entypo-dot:before {
  font-family: Entypo;
  content: "⏴";
}
.entypo-cc:before {
  font-family: Entypo;
  content: "🕅";
}
.entypo-cc-by:before {
  font-family: Entypo;
  content: "🕆";
}
.entypo-cc-nc:before {
  font-family: Entypo;
  content: "🕇";
}
.entypo-cc-nc-eu:before {
  font-family: Entypo;
  content: "🕈";
}
.entypo-cc-nc-jp:before {
  font-family: Entypo;
  content: "🕉";
}
.entypo-cc-sa:before {
  font-family: Entypo;
  content: "🕊";
}
.entypo-cc-nd:before {
  font-family: Entypo;
  content: "🕋";
}
.entypo-cc-pd:before {
  font-family: Entypo;
  content: "🕌";
}
.entypo-cc-zero:before {
  font-family: Entypo;
  content: "🕍";
}
.entypo-cc-share:before {
  font-family: Entypo;
  content: "🕎";
}
.entypo-cc-remix:before {
  font-family: Entypo;
  content: "🕏";
}
.entypo-db-logo:before {
  font-family: Entypo;
  content: "🗹";
}
.entypo-db-shape:before {
  font-family: Entypo;
  content: "🗺";
}
.entypo-social-github:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-github:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-flickr:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-flickr:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-vimeo:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-vimeo:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-twitter:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-twitter:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-facebook:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-facebook:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-s-facebook:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-google:before {
  font-family: Entypo Social;
  content: ;
}
.entypo-social-c-google:before {
  font-family: Entypo Social;
  content: ;
}
.entypo-social-pinterest:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-pinterest:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-tumblr:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-tumblr:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-linkedin:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-linkedin:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-dribbble:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-dribbble:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-stumbleupon:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-stumbleupon:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-lastfm:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-lastfm:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-rdio:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-rdio:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-spotify:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-spotify:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-qq:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-instagram:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-dropbox:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-evernote:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-flattr:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-skype:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-c-skype:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-renren:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-sina-weibo:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-paypal:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-picasa:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-soundcloud:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-mixi:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-behance:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-google-circles:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-vk:before {
  font-family: Entypo Social;
  content: "";
}
.entypo-social-smashing:before {
  font-family: Entypo Social;
  content: "";
}
body {
  font-family: 'Droid Serif', serif;
  line-height: 1.2em;
  font-size: 16px;
}
p {
  margin: 0 0 1.2em 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.small,
small {
  font-size: 85%;
}
.lead {
  font-size: 120%;
  color: #353535;
}
cite {
  font-style: normal;
}
blockquote {
  margin: 0 0 1.2em 2.4em;
  border-left: 8px solid #d9d9d9;
  padding: 0.3em 1em;
  color: #757575;
}
blockquote .source {
  color: #b5b5b5;
}
blockquote .source:before {
  content: "— ";
}
blockquote .source cite {
  color: #828282;
}
ul,
ol {
  margin: 0 0 1.2em 2.4em;
  padding: 0;
}
ul li,
ol li {
  margin-bottom: 0.6em;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ul ul,
ol ul {
  list-style: circle;
}
ul ul ul,
ol ul ul,
ol ol ul,
ul ol ul {
  list-style: square;
}
ol {
  list-style: decimal;
}
ul.unstyled,
ol.unstyled {
  padding: 0;
  list-style: none;
}
ul.unstyled > li,
ol.unstyled > li {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans;
  line-height: 100%;
  margin: 1.2em 0 0.6em 0;
  font-weight: 300 !important;
}
.title {
  font-size: 3em;
}
.section-title {
  font-size: 2.3em;
}
.subtitle {
  font-size: 1.5em;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2.3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.4em;
}
h6 {
  font-size: 1.3em;
}
@font-face {
  font-family: 'Entypo Social';
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/entypo-social/entypo-social.eot");
  src: url("/fonts/entypo-social/entypo-social.eot?#iefix") format('embedded-opentype'), url("/fonts/entypo-social/entypo-social.woff") format('woff'), url("/fonts/entypo-social/entypo-social.ttf") format('truetype'), url("/fonts/entypo-social/entypo-social.svg#'entypo-social'") format('svg');
}
body {
  background: #f3f3f3;
}
a {
  color: #318fe8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#header {
  zoom: 1;
  background: #fff;
}
#header:before,
#header:after {
  content: "";
  display: table;
}
#header:after {
  clear: both;
}
#header #logo {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.864583333333336%;
  *margin: 0 0.9895833333333331%;
}
#header #top-navigation {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.864583333333336%;
  *margin: 0 0.9895833333333331%;
}
#logo h1 {
  margin-left: 50px;
  font-size: 3em;
}
#logo em {
  font-size: 16px;
  font-style: normal;
  color: #999;
  margin-top: -0.5em;
  margin-left: 12em;
  display: block;
}
#logo a {
  color: #424242;
  text-decoration: none;
  font-weight: 500;
  color: #777;
}
#top-navigation ul {
  margin-right: 50px;
  line-height: 150px;
  text-align: right;
  list-style: none;
}
#top-navigation li {
  display: inline-block;
}
#top-navigation a {
  text-decoration: none;
  color: #888;
  padding: 0.3em 1em 0.5em 1em;
  font-size: 1.8em;
  font-family: 'Montserrat', sans;
  font-weight: lighter;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#top-navigation a:hover {
  color: #70b1ef;
}
#top-navigation a.active {
  background: #70b1ef;
  color: #fff;
}
#content {
  background: #fff;
  padding: 2em 0;
}
#footer {
  padding: 3em 0 2em 0;
  border-top: 1px solid #ddd;
  -webkit-box-shadow: inset 1px 0px 0px rgba(255,255,255,0.8);
  box-shadow: inset 1px 0px 0px rgba(255,255,255,0.8);
  background: #f3f3f3;
  text-align: center;
}
#footer #social {
  list-style: none;
}
#footer #social li,
#footer #social a {
  width: 64px;
  height: 64px;
  display: inline-block;
}
#footer #social a {
  text-decoration: none;
  color: #999;
}
#footer #social a:hover {
  color: #424242;
}
#footer #social i {
  font-size: 96px;
  font-style: normal;
}
#footer #meta-info {
  font-family: 'Montserrat', sans;
  font-weight: 300;
  color: #999;
}
#footer #meta-info sub {
  font-size: 0.7em;
  top: 0.2em;
  position: relative;
}
#content-wrapper {
  max-width: 960px;
  margin: 0 auto;
  font-size: 18px;
  color: #424242;
  line-height: 1.4em;
}
#post-listing {
  list-style: none;
}
#post-listing li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}
#post-listing li:last-child {
  border: none;
}
#post-listing .post-title:before {
  content: "λ";
  font-family: 'Droid Serif', serif;
  color: #999;
}
#post-listing .post-title {
  margin-bottom: 0;
}
#post-listing .post-subtitle {
  font-family: 'Droid Serif', serif;
  margin: 0.5em 0px 0.5em 0px;
  font-size: 1.5em;
  color: #aaa;
}
#post-listing .post-subtitle:before {
  content: "—";
}
#post-listing .date {
  color: #ccc;
  font-size: 0.5em;
  margin-left: 0.5em;
  white-space: nowrap;
}
.headline {
  text-align: center;
  padding: 4em 100px 6em 100px;
}
.headline p:first-child {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #555;
}
.headline p {
  font-size: 1.2em;
  line-height: 1.3em;
  color: #777;
}
.page-heading {
  margin-bottom: 2em;
}
.page-heading .page-snip {
  font-family: 'Droid Serif', serif;
  font-size: 1.5em;
  color: #999;
  margin: 0 0 2em 0;
  text-align: right;
}
.page-heading .page-snip:before {
  content: "—";
}
.page-heading .meta {
  font-size: 0.9em;
  color: #999;
  font-family: 'Montserrat', sans;
}
.page-heading .published-date {
  margin-top: -0.5em;
}
#disqus_thread {
  margin-top: 3em;
  padding-top: 3em;
  border-top: 1px solid #eee;
}
#post img {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  display: block;
}
#post blockquote p:last-child {
  margin-bottom: 0;
}
#post .highlight,
#post pre.src {
  margin-left: -50px;
  margin-bottom: 2em;
  border-left: 60px solid #555753;
  background: #2a2a2a;
  padding: 10px;
  font-family: monospace;
}
#post .highlight code,
#post pre.src code {
  background: none;
  color: #ccc;
}
#post pre.src {
  color: #eee;
}
#post code {
  font-family: monospace;
  color: #777;
  background: #f3f3f3;
}
#post sup,
#post sub {
  font-size: 80%;
}
#post sup {
  vertical-align: super;
}
#post sub {
  vertical-align: bottom;
}
#post dt {
  font-weight: bold;
  font-family: 'Montserrat', sans;
  font-size: 1.5em;
  line-height: 100%;
  color: #999;
}
#post dd {
  border-left: 2px solid #ddd;
  padding-left: 20px;
  color: #999;
  margin-top: 10px;
  margin-bottom: 1.5em;
  line-height: 1.3em;
}
#post .twitter-tweet {
  margin: 10px auto !important;
}
#post .highlight-paragraph {
  font-style: italic;
  font-size: 1.6em;
  border: none;
  padding: 0;
  margin: 2em;
  text-align: center;
  color: #836953;
  font-family: Lora;
}
#post .tabs {
  padding: 0;
  margin: 1em 0 0 0;
  list-style: none;
  zoom: 1;
}
#post .tabs:before,
#post .tabs:after {
  content: "";
  display: table;
}
#post .tabs:after {
  clear: both;
}
#post .tabs li {
  float: left;
  margin: 0;
}
#post .tabs a {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 1px solid #ddd;
  color: #999;
  border-left-width: 0;
  border-bottom: 0;
  text-decoration: none;
  background: #fafafa;
}
#post .tabs a:first-child {
  border-left-width: 1px;
}
#post .tabs a:hover {
  border-top-color: #70b1ef;
  color: #555;
  background: #fff;
}
#post .tabs a.active {
  border-top: 5px solid #70b1ef;
  margin-top: -5px;
  color: #424242;
  background: #fff;
}
#post .tab-contents > div {
  display: none;
}
#post .tab-contents > div.active {
  display: block;
}
@media screen and (max-width: 1200px) {
  #header #logo,
  #header #top-navigation {
    display: block;
    float: none;
    width: auto;
    margin: 0;
  }
  #header #top-navigation ul {
    text-align: left;
    line-height: 100%;
    margin: 1em 0 0 0;
  }
  #header #top-navigation ul a {
    display: inline-block;
    text-align: center;
    width: 180px;
    padding: 0;
    height: 2.5em;
    line-height: 2.5em;
  }
}
@media screen and (max-width: 600px) {
  #header #logo h1 {
    margin-left: 0;
    text-align: center;
  }
  #header #logo h1 em {
    margin-left: 0;
  }
  #header #top-navigation ul li,
  #header #top-navigation ul a {
    display: block;
  }
  #header #top-navigation ul a {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  #content #content-wrapper .highlight {
    margin: 0 0 2em 0;
    border: none;
  }
  #content #content-wrapper .highlight pre {
    white-space: pre-wrap;
  }
}
