<div id="header">
    <div id="logo">
        <a href="/"><h1>Sorella's Basement</h1></a>
        <em>Madness!? This is [Computer] SCIENCE!</em>
    </div>

    <div id="nav">
        <ul>
            <li>
                <a href="/">
                    <em>Start here</em>
                    <strong>Home</strong>
                </a>
            </li>
            <li>
                <a href="/blog">
                    <em>/prog/ stuff</em>
                    <strong>Blog</strong>
                </a>
            </li>
            <li>
                <a href="/about">
                    <em>Who's this guy?</em>
                    <strong>About</strong>
                </a>
            </li>
            <li>
                <a href="http://feeds.feedburner.com/quildreen/en">
                    <em>Keep updated!</em>
                    <strong>Feed</strong>
                </a>
            </li>
        </ul>
    </div>

    <br class="clearfix">
</div>
