#static-content {
    pre.src {
	    margin-left:						-100px;
	    padding:							10px;
	    font-size:							13px;
	    line-height:						1.5em;
        border:                             1px solid #555753;
	    border-left:						100px solid #555753;
	    border-top:							3px solid #555753;
	    color:								#555;
	    white-space:						pre;
        background:                         #22252a;
        color:                              #eee }

    dd pre.src, blockquote pre.src {
        position:                           relative;
        left:                               -7px;
        margin-left:                        -0.7em;
        border-left-width:                  25px }
}
