---
layout: default
title: Talks
group: talks
---

<!-- prettier-ignore -->
<div class="middle-container">
  <div class="rl-talk-container">
    {% for section in site.data.talks %}
      <h2 class="rl-talk-list-title">{{ section.title }}</h2>

      <div class="rl-talk-list">
        {% assign talks = site.talks | where:"category",section.name %}
        {% for talk in talks reversed %}
          <div class="rl-talk-list-item">
            <div class="rl-talk-list-item-thumb">
              <a href="{{ talk.url }}">
                <img src="{{ talk.thumbnail }}">
              </a>
            </div>
            <div class="rl-talk-list-item-card">
              <div class="rl-talk-list-item-meta">{{ talk.venue }} &bullet; {{ talk.language }}</div>
              <h3 class="rl-talk-list-item-title"><a href="{{ talk.url }}">{{ talk.title }}</a></h3>
              <div class="rl-talk-list-item-snip"><a href="{{ talk.url }}">{{ talk.snip }}</a></div>
            </div>
          </div>
        {% endfor %}
      </div>    
    {% endfor %}
  </div>
</div>
