@css {
  @import url("http://fonts.googleapis.com/css?family=Droid+Serif|Ubuntu:300,500");
}

jsk-body-font = 'Droid Serif', serif
jsk-heading-font = 'Ubuntu', sans
jsk-base-line-height = 1.2em
jsk-base-font-size = 16px
jsk-base-colour = #424242
link-colour = #70b1ef

@import "nib"
global-reset()

@import "entypo-stylus"
@import "jumper-skirt/layout/grid"
@import "jumper-skirt/layout/typography"

jsk-grid-width = 100%
entypo-define('Entypo Social', '/fonts/entypo-social/entypo-social', 'entypo-social')

// -- Actual definitions -----------------------------------------------
body
  background: #f3f3f3

a
  color: darken(link-colour, 20%)
  text-decoration: none
a:hover
  text-decoration: underline

#header
  clearfix: yes
  background: #fff
  #logo
    jsk-grid-make-column: 6
  #top-navigation
    jsk-grid-make-column: 6

#logo
  h1
    margin-left: 50px
    font-size: 3em
  em
    font-size: jsk-base-font-size
    font-style: normal
    color: #999
    margin-top: -0.5em
    margin-left: 12em
    display: block
  a
    color: jsk-base-colour
    text-decoration: none
    font-weight: 500
    color: #777

#top-navigation
  ul
    margin-right: 50px
    line-height: 150px
    text-align: right
    list-style: none
  li
    display: inline-block
  a
    text-decoration: none
    color: #888
    padding: 0.3em 1em 0.5em 1em
    font-size: 1.8em
    font-family: jsk-heading-font
    font-weight: lighter
    transition: all .3s ease-out
  a:hover
    color: link-colour
  a.active
    background: link-colour
    color: #fff

#content
  background: #fff
  padding: 2em 0
    
#footer
  padding: 3em 0 2em 0
  border-top: 1px solid #ddd
  box-shadow: inset 1px 0px 0px rgba(255,255,255,0.8)
  background: #f3f3f3
  text-align: center  
  
  #social
    list-style: none
    li, a
      width: 64px
      height: 64px
      display: inline-block
    a
      text-decoration: none
      color: #999
    a:hover
      color: jsk-base-colour
    i
      font-size: 96px
      font-style: normal

  #meta-info
    font-family: jsk-heading-font
    font-weight: 300
    color: #999
    sub
      font-size: 0.7em
      top: 0.2em
      position: relative

// -- Le blog
#content-wrapper
  max-width: 960px
  margin: 0 auto
  font-size: 18px
  color: jsk-base-colour

#post-listing
  list-style: none

  li
    border-bottom: 1px solid #ddd
    margin-bottom: 1em

  li:last-child
    border: none

  .post-title:before
    content: "λ"
    font-family: jsk-body-font
    color: #999

  .post-title
    margin-bottom: 0
    
  .post-subtitle
    font-family: jsk-body-font
    margin: 0.5em 0px 0.5em 0px
    font-size: 1.5em
    color: #aaa

  .post-subtitle:before
    content: "—"

  .date
    color: #bbb
    font-size: 0.6em
    margin-left: 0.5em
    
.headline
  text-align: center
  padding: 4em 100px 6em 100px

  p:first-child
    font-size: 1.5em
    line-height: 1.5em
    color: #555

  p
    font-size: 1.2em
    line-height: 1.3em
    color: #777

#content
  h1, h2, h3, h4, h5, h6
    font-family: jsk-body-font

