@css {
  @import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat|Lora:400italic");
}

jsk-body-font = 'Droid Serif', serif
jsk-heading-font = 'Montserrat', sans
jsk-mono-font = monospace
jsk-base-line-height = 1.2em
jsk-base-font-size = 16px
jsk-base-colour = #424242
link-colour = #70b1ef

@import "nib"
global-reset()

@import "entypo-stylus"
@import "jumper-skirt/layout/grid"
@import "jumper-skirt/layout/typography"

jsk-grid-width = 100%
entypo-define('Entypo Social', '/fonts/entypo-social/entypo-social', 'entypo-social')

// -- Actual definitions -----------------------------------------------
body
  background: #f3f3f3

a
  color: darken(link-colour, 20%)
  text-decoration: none
a:hover
  text-decoration: underline

#header
  clearfix: yes
  background: #fff
  #logo
    jsk-grid-make-column: 6
  #top-navigation
    jsk-grid-make-column: 6

#logo
  h1
    margin-left: 50px
    font-size: 3em
  em
    font-size: jsk-base-font-size
    font-style: normal
    color: #999
    margin-top: -0.5em
    margin-left: 12em
    display: block
  a
    color: jsk-base-colour
    text-decoration: none
    font-weight: 500
    color: #777

#top-navigation
  ul
    margin-right: 50px
    line-height: 150px
    text-align: right
    list-style: none
  li
    display: inline-block
  a
    text-decoration: none
    color: #888
    padding: 0.3em 1em 0.5em 1em
    font-size: 1.8em
    font-family: jsk-heading-font
    font-weight: lighter
    transition: all .3s ease-out
  a:hover
    color: link-colour
  a.active
    background: link-colour
    color: #fff

#content
  background: #fff
  padding: 2em 0
    
#footer
  padding: 3em 0 2em 0
  border-top: 1px solid #ddd
  box-shadow: inset 1px 0px 0px rgba(255,255,255,0.8)
  background: #f3f3f3
  text-align: center  
  
  #social
    list-style: none
    li, a
      width: 64px
      height: 64px
      display: inline-block
    a
      text-decoration: none
      color: #999
    a:hover
      color: jsk-base-colour
    i
      font-size: 96px
      font-style: normal

  #meta-info
    font-family: jsk-heading-font
    font-weight: 300
    color: #999
    sub
      font-size: 0.7em
      top: 0.2em
      position: relative

// -- Le blog
#content-wrapper
  max-width: 960px
  margin: 0 auto
  font-size: 18px
  color: jsk-base-colour
  line-height: 1.4em

#post-listing
  list-style: none

  li
    border-bottom: 1px solid #ddd
    margin-bottom: 1em

  li:last-child
    border: none

  .post-title:before
    content: "λ"
    font-family: jsk-body-font
    color: #999

  .post-title
    margin-bottom: 0
    
  .post-subtitle
    font-family: jsk-body-font
    margin: 0.5em 0px 0.5em 0px
    font-size: 1.5em
    color: #aaa

  .post-subtitle:before
    content: "—"

  .date
    color: #ccc
    font-size: 0.5em
    margin-left: 0.5em
    white-space: nowrap
    
.headline
  text-align: center
  padding: 4em 100px 6em 100px

  p:first-child
    font-size: 1.5em
    line-height: 1.5em
    color: #555

  p
    font-size: 1.2em
    line-height: 1.3em
    color: #777

.page-heading
  margin-bottom: 2em
  .page-snip
    font-family: jsk-body-font
    font-size: 1.5em
    color: #999
    margin: 0 0 2em 0
    text-align: right
  .page-snip:before
    content: "—"
  .meta
    font-size: 0.9em
    color: #999
    font-family: jsk-heading-font
  .published-date
    margin-top: -0.5em

#disqus_thread
  margin-top: 3em
  padding-top: 3em
  border-top: 1px solid #eee
  
#post
  img
    margin: 0 auto
    padding: 20px
    border: 1px solid #ddd
    display: block

  blockquote p:last-child
    margin-bottom: 0

  .highlight, pre.src
    margin-left: -50px
    margin-bottom: 2em
    border-left: 60px solid #555753
    background: #2a2a2a
    padding: 10px
    font-family: jsk-mono-font
    code
      background: none
      color: #ccc

  pre.src
    color: #eee

  code
    font-family: jsk-mono-font
    color: #777
    background: #f3f3f3

  // Things from the old site
  sup, sub
    font-size: 80%
  sup
    vertical-align: super
  sub
    vertical-align: bottom

  dt
    font-weight: bold
    font-family: jsk-heading-font
    font-size: 1.5em
    line-height: 100%
    color: #999
  dd
    border-left: 2px solid #ddd
    padding-left: 20px
    color: #999
    margin-top: 10px
    margin-bottom: 1.5em
    line-height: 1.3em

  .twitter-tweet
    margin: 10px auto !important

  .highlight-paragraph
    font-style: italic
    font-size: 1.6em
    border: none
    padding: 0
    margin: 2em
    text-align: center
    color: #836953
    font-family: Lora

  .tabs
    padding: 0
    margin: 1em 0 0 0
    list-style: none
    clearfix: yes

    li
      float: left
      margin: 0
    a
      display: inline-block
      padding: 0.5em 1.5em
      border: 1px solid #ddd
      color: #999
      border-left-width: 0
      border-bottom: 0
      text-decoration: none
      background: #fafafa
      &:first-child
        border-left-width: 1px
      &:hover
        border-top-color: link-colour
        color: #555
        background: #fff
    a.active
      border-top: 5px solid link-colour
      margin-top: -5px
      color: jsk-base-colour
      background: #fff

  .tab-contents > div
    display: none
  .tab-contents > div.active
    display: block
    
      
      


@media screen and (max-width: 1200px)
  #header
    #logo, #top-navigation
      display: block
      float: none
      width: auto
      margin: 0

    #top-navigation ul
      text-align: left
      line-height: 100%
      margin: 1em 0 0 0

      a
        display: inline-block
        text-align: center
        width: 180px
        padding: 0
        height: 2.5em
        line-height: 2.5em
        
        
@media screen and (max-width: 600px)
  #header
    #logo h1
      margin-left: 0
      text-align: center

      em
        margin-left: 0

    #top-navigation ul
      li, a
        display: block
      a
        width: 100%
        
@media screen and (max-width: 960px)
  #content #content-wrapper
    .highlight
      margin: 0 0 2em 0
      border: none

      pre
        white-space: pre-wrap
