---
layout: default
title: Topics
permalink: /topics/
group: blog
---

<!-- prettier-ignore -->
<section class="rl-topic-list">
  <h1 class="rl-page-title">
    Topics
    |
    <a href="/series/">Series</a>
  </h1>

  {% for category in site.categories %}
    <div class="rl-topic">
      {% assign category_id = category[0] %}
      {% assign cat = site.topics[category_id] %}
      <div class="rl-topic-row">
        <div class="rl-topic-card">
          <h2 class="rl-topic-name">{{ cat.name }}</h2>
          <p>{{ cat.description }}</p>
        </div>
        <div class="rl-topic-posts">
            {% assign posts = category[1] %}
            {% for post in posts limit: 2 %}
              <div class="rl-topic-post-card">
                  <div class="rl-topic--post-meta">{{ post.date | date_to_long_string }} &bullet; {{ post.content | number_of_words }} words</div>
                  <h2 class="rl-topic--post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                  <p class="rl-topic--post-snip">{{ post.snip }}</p>
              </div>
            {% endfor %}
        </div>
      </div>
      <a class="rl-topic-link" href="/topics/{{ category[0] | slugify }}">See all in {{ cat.name }} &gt;</a>
    </div>
  {% endfor %}
</section>
