---
layout: default
---

<link rel="stylesheet" href="/media/css/monokai.css">

<article id="main-article" class="rl-article">
  <div class="rl-article-heading">
      <div class="rl-article-meta">{{ page.date | date_to_long_string }} &bullet; {{ content | number_of_words }} words</div>
    <h2 class="rl-article-title">{{ page.title }}</h2>
    <p class="rl-article-snip">{{ page.snip }}</p>
  </div>

  <div class="rl-article-content rl-content">
    {{ content }}
  </div>
</article>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/mathtex-script-type.min.js" integrity="sha384-zWYbd0NBwgTsgIdFKVprSfTh1mbMPe5Hz1X3yY4Sd1h/K1cQoUe36OGwAGz/PcDy" crossorigin="anonymous"></script>