<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} — Sorella's Basement</title>
        <meta name="description"
              content="Rants about programming, open source, caffeine, unfunny jokes and such stuff." > 
        <meta name="keywords"
              content="programming, open source, javascript, python, clean code junkie">

        <link href="http://feeds.feedburner.com/quildreen/en" rel="alternate"
              title="Sorella's Basement" type="application/atom+xml">
        <link href="/media/css/screen.css" media="screen" rel="stylesheet">
    </head>
    <body class="engb main-page">
        {% include header.html %}

        <div id="wrapper">
            {{ content }}
        </div>

        {% include footer.html %}
    </body>
</html>
