<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - Sorella's Basement</title>
        <meta name="viewport" content="width=device-width">

        <meta name="description"
              content="Rants about programming, open source, caffeine, unfunny
              jokes and such stuff." >
        <meta name="keywords"
              content="programming, open source, javascript, python,
              functional programming, clean code junkie">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/media/css/screen.css">

    </head>
    <body>

      <div id="header">
        <header id="logo">
          <h1>
            <a href="/">Sorella's Basement</a>
            <em>Madness!? This is [Computer] SCIENCE!</em>
          </h1>
        </header>
        <nav id="top-navigation">
          <ul>
            <li><a class="active" href="/">Blog</a></li>
            <li><a href="/lab">Lab</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>

      <div id="content">
        {{ content }}
      </div>
      
      <div id="footer">
        <ul id="social">
          <li>
            <a href="http://github.com/killdream" 
               title="Mad-science experiments @ Github">
              <i class="entypo-social-github"></i>
            </a>
          </li>
          <li>
            <a href="http://twitter.com/notsorella" 
               title="Keep up with the things I do over Twitter">
              <i class="entypo-social-twitter"></i>
            </a>
          </li>
          <li>
            <a href="http://facebook.com/quildreen" 
               title="My personal Facebook profile">
              <i class="entypo-social-facebook"></i>
            </a>
          </li>
          <li>
            <a href="http://www.last.fm/user/killdream" 
               title="The stuff I listen to any day erry day">
              <i class="entypo-social-lastfm"></i>
            </a>
          </li>
        </ul>
        <div id="meta-info">
          Hacked while high
          on <a href="https://en.wikipedia.org/wiki/Caffeine">C<sub>8</sub>H<sub>10</sub>N<sub>4</sub>O<sub>2</sub></a>
          <br>
          Fonts feat <a href="http://www.google.com/fonts/">Google Fonts</a> &amp;
          <a href="http://entypo.com/">Entypo</a>
        </div>
      </div>

      <script src="/media/lib/main.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || []
        _gaq.push(['_setAccount', 'UA-15025032-4'])
        _gaq.push(['_trackPageview'])

        void function() {
          var ga   = document.createElement('script')
          ga.type  = 'text/javascript'
          ga.async = true
          ga.src   = ('https:' == document.location.protocol? 'https://ssl' 
                   : 'http://www') + '.google-analytics.com/ga.js'
          var s    = document.getElementsByTagName('script')[0]
          s.parentNode.insertBefore(ga, s)
        }()
      </script>
    </body>
</html>
