<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - Quils in Space</title>
        <meta name="viewport" content="width=device-width">

        <meta name="description"
              content="Extending Fold and Unfold to Exponential Embarassing-ness" >
        <meta name="keywords"
              content="programming, open source, javascript, python,
              functional programming, programming languages">

        <link href="/atom.xml"
              rel="alternate"
              title="Quils in Space"
              type="application/atom+xml" />

        <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic|PT+Sans+Caption:700,400|Source+Sans+Pro:400|Raleway:300' rel='stylesheet' type='text/css'>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/media/css/screen.css">

    </head>
    <body>
      <div id="wrapper">
        <div id="header">
          <nav id="top-navigation">
            <ul>
              {% for link in site.navigation %}
                {% assign current = nil %}
                {% if page.url == link.url or (page.snip and link.url == '/index.html') %}
                  {% assign current = 'active' %}
                {% endif %}

                <li><a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a></li>
              {% endfor %}
            </ul>
          </nav>
        </div>
        <div id="content">
          <div id="content-wrapper">
            {{ content }}
          </div>
        </div>
      </div>

      <div id="footer">
        <ul id="social">
          <li>
            <a href="http://github.com/robotlolita"
               title="Mad-science experiments @ Github">
              <i class="entypo-social-github"></i>
            </a>
          </li>
          <li>
            <a href="http://twitter.com/robotlolita"
               title="Keep up with the things I do over Twitter">
              <i class="entypo-social-twitter"></i>
            </a>
          </li>
          <li>
            <a href="http://facebook.com/robotlolita"
               title="My art/writing/gamedev fanpage on Facebook">
              <i class="entypo-social-facebook"></i>
            </a>
          </li>
          <li>
            <a href="http://www.last.fm/user/killdream"
               title="The stuff I listen to any day erry day">
              <i class="entypo-social-lastfm"></i>
            </a>
          </li>
        </ul>
        <div id="meta-info">
          Made with <span class="heart">♥</span> by Quil.
          <br>
          Fonts feat. <a href="http://www.google.com/fonts/">Google Fonts</a> &amp;
          <a href="http://entypo.com/">Entypo</a>
          <br><br>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International licence</a>.
        </div>
      </div>

      <script src="/media/lib/main.js"></script>
      <script type="text/javascript">
        var _gaq = _gaq || []
        _gaq.push(['_setAccount', 'UA-15025032-4'])
        _gaq.push(['_trackPageview'])

        void function() {
          var ga   = document.createElement('script')
          ga.type  = 'text/javascript'
          ga.async = true
          ga.src   = ('https:' == document.location.protocol? 'https://ssl'
                   : 'http://www') + '.google-analytics.com/ga.js'
          var s    = document.getElementsByTagName('script')[0]
          s.parentNode.insertBefore(ga, s)
        }()
      </script>
    </body>
</html>
