---
layout: default
---

<div id="static-content">
    <div id="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <h2 class="post-subtitle">—{{ page.snip }}</h2>
        <br class="clearfix">
        <div class="item-meta">
            Posted on <time class="timeago" datetime="{{ page.date | date:"%a, %d %b %Y %H:%M:%S GMT-0300" }}">{{ page.date | date:"%d %B %Y" }}</time>
        </div>
    </div>
    
    {{ content }}

	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_identifier = '{{ page.title }}_'
		  , disqus_url        = 'http://killdream.github.com/{{ page.url }}';

		(function() {
			var dsq = document.createElement('script')
			dsq.type  = 'text/javascript'
			dsq.async = true
			dsq.src	  = 'http://quildreen.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0]
			 || document.getElementsByTagName('body')[0]).appendChild(dsq)
		})()
	</script>

	<noscript>Please enable JavaScript to view the <a
	href="http://disqus.com/?ref_noscript">comments powered by
	Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">blog comments powered by
	<span class="logo-disqus">Disqus</span></a>  
</div>
